/* الحاوية العامة */
.icon-sidebar-container {
  position: relative; /* المرجع للقائمة */
  width: 100%; /* نفس عرض الزر والقائمة */
  display: inline-block;
}

/* الزر */
.sidebar-toggle-btn {
  background: #2d3748;
  color: #fff;
  padding: 10px 14px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 
}

.sidebar-toggle-btn:hover {
  background-color: #444;
}

/* القائمة المنسدلة */
.sidebar-panel {
  position: absolute;
  top: 100%; /* أسفل الزر مباشرة */
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-top: 6px;
  overflow-y: auto;
  max-height: 350px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease;
  z-index: 40;
}

/* عند الظهور */
.sidebar-panel.show {
  transform: scaleY(1);
}

/* محتوى الأيقونات */
.icon-sidebar {

  padding: 15px;
}
.fixed-search {
   position: sticky;
  top: 10px;
  background-color: rgba(66, 59, 59, 0.336);
  width: 100%;
  border-radius: 8px;
  padding: 5px;
}

.search-input {
 
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
 
  outline: none;
}




.stir-grid {
  display: grid;
   width: 100%;
  height: 350px;
  grid-template-columns: repeat(3, 1fr);
   
  gap: 8px;
  justify-items: center;

overflow: scroll;
}
.icon-grid {
  display: grid;
   grid-template-columns: repeat(auto-fill, 50px);
justify-items: center;
  gap: 10px;
}



.icon-item {
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
 width: 10px;
  transition: transform 0.1s;
}

.icon-item:hover {
  transform: scale(1.2);
}




